<!DOCTYPE html>
<html ng-app="myModule">
<head>
	<meta charset="utf-8">
	<title>To Do List</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Style -->
	<link rel="stylesheet" type="text/css" href="style.css">
	<!-- Angular -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
</head>
<body ng-controller="myController">

	<br />
	<div class="container">
		<div class="header row text-center">
			<h1>To Do List</h1>
			<input type="text" ng-model="task" ng-keyup="searchEnter()" placeholder=" Add a task...">
			<button class="btn btn-danger btn-xs" ng-click="clearCompleted()">
				Clear completed <i class="fa fa-trash-o" aria-hidden="true"></i>
			</button>
		</div>
		<br />
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<table class="table-bordered">
					<tbody ng-repeat="oneTask in tasks track by $index">
						<tr class="camper">
							<td class="number">{{$index+1}}</td>
							<td class="number">
								<input type="checkbox" ng-model="oneTask.status" ng-click="taskDone(oneTask.status)">
							</td>
							<td class="name">
								<span class="done-{{oneTask.status}}" ng-model="oneTask.taskMessage" ng-dblclick="editTask(oneTask.taskMessage)" ng-keydown="enterAgain(oneTask.taskMessage)" contenteditable="false"> {{oneTask.taskMessage}} </span>
							</td>
							<td class="number">
								<span ng-click="removeTask($index)">
									<i class="fa fa-times" aria-hidden="true"></i>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<br />
		<div class="row text-center">
			<div class="col-md-12 col-xs-12">
				<div class="tableFooter">by <a href="http://www.angelopalmieri.com" target="_blank">Angelo Palmieri</a></div>
			</div>
		</div>
	</div>

	<!-- Font Awesome -->
	<script src="https://use.fontawesome.com/736c59a21e.js"></script>
	<!-- Script -->
	<script src="script.js"></script>

</body>
</html>
