<!DOCTYPE html>
<html ng-app="myModule">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>To Do List</title>
	<meta name="description" content="Todo app AngularJS">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="img/checked.png">	
	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Style -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<!-- Angular -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
</head>
<body ng-controller="myController">

	<header class="header">
		<div class="hero-text">
			<h1>To Do List</h1>
		</div>
	</header>
	<main class="container">
		<input class="add-task-input" type="text" ng-model="task" ng-keyup="searchEnter()" placeholder=" Add a task...">
		<button class="btn btn-danger btn-xs" ng-click="clearCompleted()">
			Clear completed <img src="img/rubbish-bin.png" alt="">
		</button>
		<table class="task-list table-bordered">
			<tbody>
				<tr class="camper" ng-repeat="oneTask in tasks track by $index">
					<td class="number">{{$index+1}}</td>
					<td class="number">
						<input type="checkbox" aria-checked="{{oneTask.status}}" ng-model="oneTask.status" ng-click="oneTask.complete()">
					</td>
					<td class="name">
						<span class="done-{{oneTask.status}}" ng-model="oneTask.name" ng-dblclick="editTask(oneTask.name)" ng-keydown="enterAgain(oneTask.name)" contenteditable="false"> {{oneTask.name}} </span>
					</td>
					<td class="number">
						<span ng-click="removeTask($index)">
							<span class="visuallyHidden">Remove task</span>
							<img src="img/remove-symbol.png" alt="">
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</main>
	<footer class="footer">
		<p>
			by <a href="http://www.angelopalmieri.com" target="_blank" rel="noopener">Angelo Palmieri</a>
		</p>
	</footer>

	<!-- Script -->
	<script src="js/script.js"></script>
	<script src="js/task.js"></script>
	<script src="js/taskRepo.js"></script>
	
</body>
</html>
