table {
  width: 100%;
}

th, td {
  padding: 10px;
}

span.done-true {
    color: grey;
    font-style: italic;
    text-decoration: line-through;
}

.container {
	width: 600px;
	background-color: beige;
    border-radius: 5px;
}

.header input {
	width: 300px;
}

.number {
	width: 50px;
	text-align: center;
}
